.box{
	float: left;
	margin: 3px solid blue;
	border: 3px red dashed;
    margin-right: 30px;
}
h1{
	text-align: center;
	color: blue;
}
body{
	border: 3px  solid blue;
	height: 1200px;
}
dt{
	
	background-color: black;
	color: white;
	padding: 5px;
	width: 40%;
	position: sticky;
	top: 0;
	left: 0;
	margin: 30px;

}
